#page
{
	width: 100%;
	border-left: 1px solid #00417D;
	background-image: url("../images/small-makedoc-logos-pageTitle.png");
	background-repeat: no-repeat;
	background-position: 80% 1px;
}
#position
{
	float: right;
}
#pageTitle
{
	width: 100%;
	padding-left: 15px;
	border-left: 1px solid #00417D;
}
#btnHideTitle
{
	cursor: pointer;
	vertical-align: middle;
	padding-right: 10px;
}
